language: ruby
dist: trusty

rvm:
  - 2.4.0
  - 2.3.3
  - 2.2.6
  - 2.1.10
  - 2.0.0
  - ruby-head
  - jruby-9.1.7.0
  - rbx-3

gemfile:
  - gemfiles/active_record_50.gemfile
  - gemfiles/active_record_42.gemfile
  - gemfiles/active_record_41.gemfile
  - gemfiles/active_record_edge.gemfile

sudo: false

before_install: gem update bundler --no-document
script: 'bundle exec rake test'

cache: bundler

matrix:
  exclude:
    - rvm: 2.0.0
      gemfile: gemfiles/active_record_50.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/active_record_50.gemfile
    - rvm: 2.0.0
      gemfile: gemfiles/active_record_edge.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/active_record_edge.gemfile
    - rvm: 2.4.0
      gemfile: gemfiles/active_record_41.gemfile
    - rvm: 2.4.0
      gemfile: gemfiles/active_record_42.gemfile
    - rvm: ruby-head
      gemfile: gemfiles/active_record_41.gemfile
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-9.1.7.0
    - rvm: rbx-3
    - gemfile: gemfiles/active_record_edge.gemfile
  fast_finish: true
