services: mongodb

script: "bundle exec rake spec"

rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - jruby
  - rbx

gemfile:
  - gemfiles/active_record_30.gemfile
  - gemfiles/active_record_31.gemfile
  - gemfiles/active_record_32.gemfile
  - gemfiles/active_record_40.gemfile
  - gemfiles/active_record_edge.gemfile
  - gemfiles/data_mapper_12.gemfile
  - gemfiles/mongo_mapper.gemfile
  - gemfiles/mongoid_24.gemfile
  - gemfiles/mongoid_30.gemfile
  - gemfiles/mongoid_31.gemfile
  - gemfiles/mongoid_40.gemfile
  - gemfiles/sinatra_13.gemfile
  - gemfiles/sinatra_14.gemfile

matrix:
  exclude:
    - rvm: 1.8.7
      gemfile: gemfiles/active_record_40.gemfile
    - rvm: 1.8.7
      gemfile: gemfiles/active_record_edge.gemfile
    - rvm: 1.8.7
      gemfile: gemfiles/mongoid_30.gemfile
    - rvm: 1.8.7
      gemfile: gemfiles/mongoid_31.gemfile
    - rvm: 1.8.7
      gemfile: gemfiles/mongoid_40.gemfile
  allow_failures:
    - rvm: rbx
      gemfile: gemfiles/mongoid_40.gemfile
  fast_finish: true
