language: ruby

rvm:
  - 2.0.0
  - 2.1.8
  - 2.2.4
  - 2.3.0
  - ruby-head
  - jruby
  - jruby-head
  - rbx-2

gemfile:
  - gemfiles/active_record_32.gemfile
  - gemfiles/active_record_40.gemfile
  - gemfiles/active_record_41.gemfile
  - gemfiles/active_record_42.gemfile
  - gemfiles/active_record_edge.gemfile
  - gemfiles/mongoid_30.gemfile
  - gemfiles/mongoid_31.gemfile
  - gemfiles/mongoid_40.gemfile
  - gemfiles/mongoid_50.gemfile
  - gemfiles/sinatra_14.gemfile

sudo: false

services: mongodb

script: "bundle exec rake spec"

cache: bundler

matrix:
  exclude:
    - rvm: 2.0.0
      gemfile: gemfiles/active_record_edge.gemfile
    - rvm: 2.1.8
      gemfile: gemfiles/active_record_edge.gemfile
    - rvm: 2.2.4
      gemfile: gemfiles/active_record_32.gemfile
    - rvm: 2.3.0
      gemfile: gemfiles/active_record_32.gemfile
    - rvm: ruby-head
      gemfile: gemfiles/active_record_32.gemfile
    - rvm: jruby
      gemfile: gemfiles/active_record_edge.gemfile
    - rvm: jruby-head
      gemfile: gemfiles/active_record_edge.gemfile
    - rvm: rbx-2
      gemfile: gemfiles/active_record_edge.gemfile
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby
    - rvm: jruby-head
    - rvm: rbx-2
  fast_finish: true
