<%# Link showing page number
  - available local variables
    page:          the page number of this page
    url:           url to this page
    current_page:  the page number of currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="page">
  <%= link_to page, url, :remote => remote %>
</span>
