<%# Link to the "Next" page for cursor-based pagination
  - available local variables
    url:           url to the previous page
    first_page?:   indicates there are no earlier results
    last_page?:    indicates there are no later results
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="next">
  <%= link_to_unless last_page?, t('views.pagination.next').html_safe, url, rel: 'next', remote: remote %>
</span>
