-# available local variables:
  prev_url:      url to the previous page
  current_page:  the page number of currently displayed page
  num_pages:     total number of pages
  per_page:      number of items to fetch per page
  remote:        data-remote
%td.b
  = link_to raw('<span class="csb ch" style="background-position:0 0;float:right;width:53px"></span><span style="display:block;margin-right:35px;clear:right;text-decoration:underline">Previous</span>'), prev_url, :class => 'pn knavi', :id => 'pnprev', :style => 'text-decoration:none', :remote => remote
